<!doctype html>
<html>
    <head>
        <title>BeautyBird</title>
        <style type="text/css">
            body {
                font-family:sans-serif;
                background-color:#c41cc4;
                color:#fff;
            }
            div {
                padding:10px 0;
            }
            button {
                color:#fff;
                background-color:#c41cc4;
                border:solid 2px #fff;
                padding:5px;
                font-size:1.2em;
            }
            a {
                color:#fff !important;
            }
        </style>
    </head>
    <body>
        <h1>BeautyBird &lt;3</h1>
        
        {{{body}}}

        <p>A sample application brought to you by <a href="https://developers.messagebird.com/">MessageBird</a> :)</p>
    </body>
</html>